body{
   
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    position: absolute;
}
#no button a{
    text-decoration: none;
    color: #FFFFFF;
}
.alert-danger{
    width: 100%;
  padding: 0px 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 12px;
  font-size: 16px;
  background-color: rgba(248, 215, 218, 1);
  border-color: rgba(220, 53, 69, 1);
  color: rgba(114, 28, 36,1);
}
.alert-success{
    width: 100%;
  padding: 0px 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 12px;
  font-size: 16px;
  background-color: rgba(227, 253, 235, 1);
  border-color: rgba(38, 179, 3, 1);
  color: rgba(60, 118, 61, 1);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    background-color:#F7F7F7;
    height: 60px;


}
h1{
    color: #006BA6;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 20px;
}
.register{
    display: block;
    width: 500px;
    height: 40px;
    border-color:#38A9E0 ;
    background-color: #38A9E0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0%;

}
input::placeholder{
    color: #38A9E0;
}
button{
    background-color: #006BA6;
    color: #FFFFFF;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-color:#006BA6;

}
form a{
    color:#006BA6;
    text-decoration: none;
}

button:hover{
   border-color:#006ba6;
   color:#006ba6;
   background-color: #FFFFFF;
}

h2{
    font-size: 100px;
    color: #006ba6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


img{
    width: 80%;
}
.img1{
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        width: 700px;
        
}
div{
    justify-content: space-between;
    align-items: center;
}
.gender{
    margin-bottom: 15px;
}
.gender span{
    color:#006ba6;
}

.gender label{
    color:#006ba6;
}

.input{
    display: block;
    width: 500px;
    height: 40px;
    border-color:#38A9E0 ;
    border-width: 1px;
    border-style: solid;
}
.int{
    text-align: center;
    background:#38A9E0;
    color:#FFFFFF;
    border-color: #38A9E0;
    cursor: pointer;
}
.int:hover{
    color:cadetblue;

}

h2{
    color: #38A9E0;
    font-size: small;
    text-align: center;
}
span{
    color: #B0AEAE;
    text-align: center;
    cursor: pointer;
}
.parent{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}